@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

html,
body {
  height: 100%
}

* {
  padding: 0px;
  margin: 0px
}

body {
  background-color: #e8e8e8;

}

.card {
  background-color: #fff;
  border-radius: 10px;
  color: #6f707d;
  font-family: 'Marcellus', serif;

}

#heading {
  font-size: 55px;
  color: #2b304d
}

.temp {
  place-items: center
}

.temp-details>p>span,
.grey {
  color: #a3acc1;
  font-size: 12px
}

.fa {
  color: #a5a5b1
}

*:focus {
  outline: none
}


.sehirAdi {
  font-size: 1.5rem;
  padding-top: 10px;
}

.description {
  font-size: 18px;
  margin-top: 15px;
}